body{
		background-color: #A7DBD8;
	}
	#menu{
		float: right;
		height: 100%;
		width: 29%;
        background-color: white;
        border: 5px solid #F38630;
        text-align: center;
        color: #FA6900;
        font-size: 18px;
        margin-top: 50px;
	}
 #ponto, #poligono, #linha, #selecao, #fillColor, #trans, #rot, #fec{
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white; 
    color: #FA6900; 
    border: 2px solid #F38630;
	}
    